<!-- 命名規則
wrap　一番外ページを積み上げるボックス
container コンテンツを囲むボックス
ラッパー(wrapper)の中にコンテナ(container)が入っているイメージ
-->
<% if logged_in? %>
  <div class= toppage_login>
    <% if logged_in? %>

      <p>キロク</p>
      <div class="cheackin">
        <p class="confirm_the_date">
        <%= Time.now.strftime("%m/%d(#{%w(日 月 火 水 木 金 土)[Time.now.wday]})") %>
        </p>

        <!--
        <p class="confirm_the_week">
          <%= Time.now.strftime("%d(#{%w(日 月 火 水 木 金 土)[Time.now.wday]})") %>
            <% if pp current_user.emotions.where('created_at like?', Date.today) %>
            ●
            <% else %>
            ✖︎
            <% end %>
          <%= Time.now.since(1.days).strftime("%d(#{%w(日 月 火 水 木 金 土)[Time.now.since(1.days).wday]})") %>
            <% if current_user.emotions.where('created_at like?', Date.yesterday) %>
            ●
            <% else %>
            ✖︎
            <% end %>
          <%# <%= image_tag("/assets/cheacked_date_dogg_icon.png") %>
          <%= Time.now.since(2.days).strftime("%d(#{%w(日 月 火 水 木 金 土)[Time.now.since(2.days).wday]})") %>
            <% if current_user.emotions.where('created_at like?', Time.now.since(2.days)) %>
            ●
            <% else %>
            ✖︎
            <% end %>
          <%= Time.now.since(3.days).strftime("%d(#{%w(日 月 火 水 木 金 土)[Time.now.since(3.days).wday]})") %>
            <% if current_user.emotions.where('created_at like?', Time.now.since(3.days)) %>
            ●
            <% else %>
            ✖︎
            <% end %>
          <%= Time.now.since(4.days).strftime("%d(#{%w(日 月 火 水 木 金 土)[Time.now.since(4.days).wday]})") %>
            <% if current_user.emotions.where('created_at like?', Time.now.since(4.days)) %>
            ●
            <% else %>
            ✖︎
            <% end %>
          <%= Time.now.since(5.days).strftime("%d(#{%w(日 月 火 水 木 金 土)[Time.now.since(5.days).wday]})") %>
            <% if current_user.emotions.where('created_at like?', Time.now.since(5.days)) %>
            ●
            <% else %>
            ✖︎
            <% end %>
          <%= Time.now.since(6.days).strftime("%d(#{%w(日 月 火 水 木 金 土)[Time.now.since(6.days).wday]})") %>
            <% if current_user.emotions.where('created_at like?', Time.now.since(6.days)) %>
            ●
            <% else %>
            ✖︎
            <% end %>
        </p>
        -->

        <p>今日のキロク</p>
        <%= link_to new_emotion_path , { class: 'checker_submit' } do %>
            <span class="material-symbols-outlined">light_mode</span>
            <p>モーニングチェック</p>
        <% end %>
        <%= link_to new_emotion_path , { class: 'checker_submit' } do %>
            <span class="material-symbols-outlined">nightlight</span>
            <p>ナイトチェック</p>
        <% end %>
      </div>
      <!--
      <p class="title_selfcare_routine">最近取り入れたルーティーン</p>
      <p class="sample_title">■ とにかく早く、20時に寝る</p>
      <p class="sample_title">■ 無理に無理を重ねない</p>
      <p class="sample_title">■ 趣味が合う人とあう</p>
      -->

      <div class="box_user_weekly_condition_visual">
        <p>今週の変化</p>

        <div class="condition_visual">
          <canvas id="weekly_condition_charts"></canvas>
          <script>

            var hiduke = new Date();
            var day = hiduke.getDate();
            var month = hiduke.getMonth();

            var ctx = document.getElementById('weekly_condition_charts').getContext("2d");
            const gradientBg =  ctx.createLinearGradient(0, 0, 0, 400);

            gradientBg.addColorStop(0, '#33a4b8');
            gradientBg.addColorStop(0.5, '#56ABBA');
            gradientBg.addColorStop(1, '#eff7f9');

            var myChart = new Chart(ctx, {
              type: 'line',
              data: {
                labels: [day + ' (月)', day+1 + ' (火)', day+2 + ' (水)', day+1 + ' (木)', day+3 + ' (金)', day+4 + ' (土)', day+5 + ' (日)'],
                datasets: [{

                  label: 'night',
                  backgroundColor: gradientBg,

                  // 変数
                  data: [3, 18, 6, 10, 12, 7, 12],

                }]
              },
              options: {

                  elements: {
                      point:{
                      radius: 0
                      }
                  },
              }

            });
          </script>

          <canvas id="myChart"></canvas>
          <%# <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> %>
          <script>
          var ctx = document.getElementById('myChart').getContext("2d");
          // const gradientBg =  ctx.createLinearGradient(0, 0, 0, 400);

          var myChart = new Chart(ctx, {
              type: 'line',
              data: {
                labels: [day + ' (月)', day+1 + ' (火)', day+2 + ' (水)', day+1 + ' (木)', day+3 + ' (金)', day+4 + ' (土)', day+5 + ' (日)'],
                datasets: [{

                  label: 'mornig',
                  backgroundColor: 'orange',



                  // 変数
                  data: [1, 8, 9, 1, 10, 4, 17],

                }]
              },
              options: {
                  elements: {
                      point:{
                      radius: 0
                      }
                  }
              }
          });
          </script>
        </div>
      </div>
      <div class="qa_wrap_use_smartphone">
        <div class="qa_title_use_smartphone">デジタル疲労を計測</div>

        <div class="user_work_use_smartphone_box">
          <%= link_to new_emotion_path , { class: 'checker_submit' } do %>
              <p>デジタル依存チェック 5分(IAT)</p>
          <% end %>
          <%= link_to new_emotion_path , { class: 'checker_submit' } do %>
              <p>スマホとのいい距離感を作る1週間ワーク</p>
          <% end %>
        </div>
      </div>
      <!--
      リリース後に追加候補
      <div class="my_relax_list">
        <p>あなたのお悩みはなんですか？</p>
      </div>
      <div class="top_select_category">
        <p class="heading_selfcare_card">セルフケア・カード</p>
        <div class="category_name">
          <% @categories.each do |category| %>
            <%= link_to category.name || "未設定" , root_path(category_id: category.id) %>
          <% end %>
        </div>
      </div>
      <%= render 'layouts/article_index' %>
    <% end %>
    -->
  </div>
<% else %>
  <div class="toppage_logout">
    <div class="logout_image">
      <div class ="logout_top_left_word">
      <h1 class="top">log</h1>
        <p class="middle" style="font-size:01.2em;" >taskの優先順位を記録<br></p>
        <div class="box_login">
          <div class="test_login">
            <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
              <%= f.hidden_field :email, value: "testuser@testuser.com" %>
              <%= f.hidden_field :password, value: "testuser" %>
              <%= f.submit "ストレスフリーになる"%>
            <% end %>
          </div>
        </div>
      </div>
      <div class="logout_top_right_img">
        <!-- <%= image_tag("/assets/top_icatch.png") %> -->
      </div>
    </div>
<% end %>

